.ui-content
{
  padding:0;
}

#header
{
  overflow:auto;
}

/*footer styles*/
.bottom-left{
	position:fixed;
	left:5px;
	bottom:5px;
	height:47px;
	width:47px;
}

.bottom-right{
	position:fixed;
	right:5px;
	bottom:5px;
	height:47px;
	width:47px;
}

/*career page styles*/

.remove-icon{
	height:20px;
	width:20px;
}

/*general alignment*/
.single-indent{
	margin-left:20px;
}

.right-aligning{
	text-align:right;
}

.centering{
	text-align:center;
}