.ui-content
{
  padding:0;
  width: 100%;
}

#header
{
  overflow:auto;
}

.pagecontent
{
  width: 100%;
}

.careerpagecontent
{
  width: 100%;
}


/*career page styles*/
.bottom-left{
	position:fixed;
	left:5px;
	bottom:5px;
	height:47px;
	width:47px;
}

.bottom-right{
	position:fixed;
	right:5px;
	bottom:5px;
	height:47px;
	width:47px;
}